body{
background-color: rgb(2, 65, 2);
}
.rubri{
    background-color: rgba(142, 0, 0, 0.779);
    width: 1000px;
    height: 50px;
    margin: auto;
}
.kontainer{
width: 1000px;
height: 700px;
background-color: rgba(0, 0, 0, 0.447);
margin: auto;
padding-top: 50px;
margin-top: 20px;
border-radius: 50px;
border: 2px solid;
}
.waterdrop{
    background-color: rgb(234, 249, 21);
    transform: rotate(15deg);
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 100% 100% 0px 100%;
}
.pwaterdrop{
    transform: rotate(-30deg) translateY(220%) translateX(5%);
    background-image: linear-gradient(to bottom right, red, rgb(24, 236, 88));
    border-radius: 100%;
    width:80px;
    padding: 10px;
    box-shadow: -1px 3px rgba(0, 0, 0, 0.507);
}
.rubrik{
    padding-top: 10px;
text-align: center;
font-size: 20px;
}
.infodiv{
    background-color: rgba(0, 128, 0, 0.393);
    padding: 15px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
}
p{
    color: red;
}
ul{
    font-family: "Rubik Distressed", system-ui;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
a{
    text-decoration: none;
    background-color: green;
    padding: 10px;
    border-radius: 3px;
    width: 140px;
    display: inline-block;
    box-shadow: 3px 3px 0 rgb(185, 0, 0);
    text-align: center;
    margin-top: 50px;
}
.colums2{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
img{
    border: 5px solid;
    border-end-end-radius: 60%;
    border-top-right-radius: 60%;
    height: 400px;
    width: 300px;
    margin: 19px;
}
.flip{
transform: scaleX(-1);
}