/* Enkel CSS-reset */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
body, h1, h2, h3, h4, h5, h6, p, ul {
margin: 0;
padding: 0;
}
}

body{
background-color: #ccc;
}
.ruta{
width: 100px;
height: 100px;
background-color: yellow;
margin: 100px auto;
/* animation: bytfärgform 5s infinite; */
}
@keyframes bytfärgform{
    0% {
        background-color: yellow;
        transform: scale(1) translateX(0) translateY(-50px);
    }
    25%{
        background-color: orange;
        transform: scale(2) translateX(100px) translateY(50px);
        box-shadow: 0px 0px 10px;
        border-radius: 30%;
    }
    50%{
        background-color: orangered;
        transform: scale(2.5) translateX(0px) translateY(100px);
        box-shadow: 0px 0px 20px;
        border-radius: 40%;
    }
    75%{
        background-color: orange;
        transform: scale(2) translateX(-100px) translateY(50px);
        box-shadow: 0px 0px 10px;
        border-radius: 30%;
    }
    100%{
        background-color: yellow;
        transform: scale(1) translateX(0px) translateY(-50px);
    }
}
/* animera studstande emoji */
.emoji{
    text-align:center;
    animation: emojistuds 2s infinite;
}
.emoji2{
    text-align:center;
    animation: emojistuds2 2s infinite;
}
.emoji3{
    text-align:center;
    animation: emojistuds3 2s infinite;
}
@keyframes emojistuds{
    0%, 100%{
        transform: scale(3) translateY(0px);
        animation-delay: 5s;
    }
    65%{
        transform: scale(3) translateY(65px) rotate(360deg);
    }
}
@keyframes emojistuds2{
    0%, 100%{
        transform: scale(3) translateX(-20px) translateY(-7px);
        animation-delay: 5s;
    }
    75%{
        transform: scale(3) translateX(-20px) translateY(60px) rotate(360deg);
    }
}
@keyframes emojistuds3{
    0%, 100%{
        transform: scale(3) translateX(20px) translateY(-14px);
        animation-delay: 5s;
    }
    50%{
        transform: scale(3) translateX(20px) translateY(55px) rotate(360deg);
    }
}
/* animation loadingscreen */
.kul{
    width: 10px;
height: 10px;
background-color: black;
margin: auto;
    animation: kulstuds 4s infinite;
}
.kul2{
    width: 10px;
height: 10px;
background-color: black;
margin:auto;
    animation: kulstuds2 4s infinite;
}
.kul3{
width: 10px;
margin: auto;
animation: kulstuds3 4s infinite;
height: 10px;
background-color: black
}
@keyframes kulstuds{
    0%, 100%{
        transform: scale(3) translateY(0px);
        animation-delay: 3s;
        background-color: black;
    }
    65%{
        transform: scale(3) translateY(65px) rotate(360deg);
        background-color: white;
        border-radius: 100%;
    }
}
@keyframes kulstuds2{
    0%, 100%{
        transform: scale(3) translateX(-20px) translateY(-3.4px);
        animation-delay: 3s;
        background-color: black;
    }
    75%{
        transform: scale(3) translateX(-20px) translateY(63px) rotate(360deg);
        background-color: white;
        border-radius: 100%;
    }
}
@keyframes kulstuds3{
    0%, 100%{
        transform: scale(3) translateX(20px) translateY(-6.6px);
        animation-delay: 3s;
        background-color: black;
    }
    50%{
        transform: scale(3) translateX(20px) translateY(60px) rotate(360deg);
        background-color: white;
        border-radius: 100%;
    }
}