body{
background-image: url(./bilder/måne-från-nasa.jpg);
}
.kontainer {
width: 800px;
padding: 40px;
}
.box{
    background-color: black;
    color: white;
    padding: 40px;
}
h1{
    
}
h2{

}
img{
width: 100%;
}
p{

}