/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

/* Sidan */
body {
    background-image: url(./bilder/isaac-quesada-6xxxvB72qB0-unsplash.jpg);
}

/* Bygga layouten */
/* för desktop >= 1000px */
@media (min-width: 1000px ){
    .kontainer {
        width: 1000px;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "sidhuvud sidhuvud"
            "artiklarna sidebar"
            "sidfot sidfot";
            gap: 20px;
    }  
}
/* för läsplatta >= 768px */
@media (min-width: 1000px){

}
/* För mobil < 576 */
@media (min-width: 1000px){

}
header {
    grid-area: sidhuvud;
    background-color: burlywood;
}

main {
    grid-area: artiklarna;
    background-color: olive;
}

aside {
    grid-area: sidebar;
    background-color: lightsalmon;
}

footer {
    grid-area: sidfot;
    background-color: sandybrown;
}

/* Sidhuvud */
header {
    color: #fff;
    font-family: monospace;
}

header h1 {
    font-size: 80px;
}

header h2 {}

/* menyn */
header nav {}

header nav a {}

header nav a.aktiv {}

header nav a:hover {}

/* Sidans innehåll - artiklar, text mm */
main {}

main article {}

main article h3 {}

main article figure {}

main article figure img {}

main article figure figcaption {}

main article p {}

/* Sidfoten */
footer {}

footer p {}